body {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

header,
footer,
nav,
main,
aside {
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
footer {
  height: 80px;
  background-color: #fff3be;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: calc(100vh - 160px - 1rem);
  margin: .5rem 0;
}

.container nav,
.container aside {
  width: 200px;
  background-color: #c9d1fd;
}

.container main {
  flex: 1;
  margin: 0 .5rem;
  background-color: #ffdce2;
}

.main-btn{
  width: 250px;
  height: 60px;
  background: lightskyblue;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 500;
  border: 1px solid rgba(255,255,255, 0.5);
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1)
}

.main-btn:active{
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

.background{
  background-position: center;
  background-size: cover;
}